@model Org.Ktu.Isk.P175B602.Autonuoma.ViewModels.BibliotekaEditVM

@{
	ViewData["title"] = "Bibliotekos sukūrimas";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a href="@Url.Action("Index")" class="link-primary"><i class="fa-solid fa-angles-left"></i> Atgal į sarašą</a>
	</span>
</div>

<div class="container-fluid d-flex justify-content-center">
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	<fieldset class="border rounded shadow p-2">
		<div class="form-group">
			@Html.LabelFor(m => m.Biblioteka.Id, new { @class = "control-label" })
			@Html.EditorFor(m => m.Biblioteka.Id, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Biblioteka.Id, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Biblioteka.Pavadinimas, new { @class = "control-label" })
			@Html.EditorFor(m => m.Biblioteka.Pavadinimas, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Biblioteka.Pavadinimas, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Biblioteka.Adresas, new { @class = "control-label" })
			@Html.EditorFor(m => m.Biblioteka.Adresas, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Biblioteka.Adresas, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Biblioteka.Telefonas, new { @class = "control-label" })
			@Html.TextBoxFor(m => m.Biblioteka.Telefonas, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Biblioteka.Telefonas, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Biblioteka.El_pastas, new { @class = "control-label" })
			@Html.EditorFor(m => m.Biblioteka.El_pastas, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Biblioteka.El_pastas, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Biblioteka.Darbo_laikas, new { @class = "control-label" })
			@Html.EditorFor(m => m.Biblioteka.Darbo_laikas, new { htmlAttributes = new { @class = "form-control" }})
			@Html.ValidationMessageFor(m => m.Biblioteka.Darbo_laikas, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Biblioteka.FkTipas, new { @class = "control-label" })
			@Html.DropDownListFor(m => m.Biblioteka.FkTipas, Model.Lists.Tipai, "--------------", new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Biblioteka.FkTipas, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Biblioteka.FkMiestas, new { @class = "control-label" })
			@Html.DropDownListFor(m => m.Biblioteka.FkMiestas, Model.Lists.Miestai, "--------------", new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Biblioteka.FkMiestas, "", new { @class = "text-danger" })
		</div>

	</fieldset>

	<div class="container-fluid d-flex d-row justify-content-end">
		<button name="save" value="1" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Išsaugoti</button>
	</div>
}
</div>

<div class="main-content-footer container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title"></span>
	<span class="actions">
		<a href="@Url.Action("Index")" class="link-primary"><i class="fa-solid fa-angles-left"></i> Atgal į sarašą</a>
	</span>
</div>