@model Org.Ktu.Isk.P175B602.Autonuoma.ViewModels.DarbuotojasEditVM
@{
	ViewData["title"] = "Darbuotojo redagavimas";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a href="@Url.Action("Index")" class="link-primary"><i class="fa-solid fa-angles-left"></i> Atgal į sarašą</a>
	</span>
</div>

<div class="container-fluid d-flex justify-content-center">
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	
	@* add hidden form fields for non-visible properties, otherwise they will get lost in code that handles button presses *@
	@Html.HiddenFor(m => m.Darbuotojas.Tabelio_nr)

	<fieldset class="border rounded shadow p-2">
		<div class="form-group">
			@Html.LabelFor(m => m.Darbuotojas.Tabelio_nr, new { @class = "control-label" })
			@Html.EditorFor(m => m.Darbuotojas.Tabelio_nr, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Darbuotojas.Tabelio_nr, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Darbuotojas.Vardas, new { @class = "control-label" })
			@Html.EditorFor(m => m.Darbuotojas.Vardas, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Darbuotojas.Vardas, "", new { @class = "text-danger" })
		</div>

			<div class="form-group">
			@Html.LabelFor(m => m.Darbuotojas.Pavarde, new { @class = "control-label" })
			@Html.EditorFor(m => m.Darbuotojas.Pavarde, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Darbuotojas.Pavarde, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Darbuotojas.Telefonas, new { @class = "control-label" })
			@Html.EditorFor(m => m.Darbuotojas.Telefonas, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Darbuotojas.Telefonas, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Darbuotojas.Val_atlyginimas, new { @class = "control-label" })
			@Html.EditorFor(m => m.Darbuotojas.Val_atlyginimas, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Darbuotojas.Val_atlyginimas, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Darbuotojas.Atlyginimas, new { @class = "control-label" })
			@Html.EditorFor(m => m.Darbuotojas.Atlyginimas, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Darbuotojas.Atlyginimas, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Darbuotojas.Banko_saskaita, new { @class = "control-label" })
			@Html.EditorFor(m => m.Darbuotojas.Banko_saskaita , new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Darbuotojas.Banko_saskaita, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Darbuotojas.FkBiblioteka, new { @class = "control-label" })
			@Html.DropDownListFor(m => m.Darbuotojas.FkBiblioteka, Model.Lists.Bibliotekos, "--------------", new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Darbuotojas.FkBiblioteka, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Darbuotojas.FkPareigos, new { @class = "control-label" })
			@Html.DropDownListFor(m => m.Darbuotojas.FkPareigos, Model.Lists.Pareigos, "--------------", new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Darbuotojas.FkPareigos, "", new { @class = "text-danger" })
		</div>


	</fieldset>

	<div class="container-fluid d-flex d-row justify-content-end">
		<button name="save" value="1" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Išsaugoti</button>
	</div>
}
</div>

<div class="main-content-footer container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title"></span>
	<span class="actions">
		<a href="@Url.Action("Index")" class="link-primary"><i class="fa-solid fa-angles-left"></i> Atgal į sarašą</a>
	</span>
</div>