@model Org.Ktu.Isk.P175B602.Autonuoma.ViewModels.KnygaEditVM

@{
	ViewData["title"] = "Knygos sukūrimas";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a href="@Url.Action("Index")" class="link-primary"><i class="fa-solid fa-angles-left"></i> Atgal į sarašą</a>
	</span>
</div>

<div class="container-fluid d-flex justify-content-center">
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	<fieldset class="border rounded shadow p-2">
		<div class="form-group">
			@Html.LabelFor(m => m.Knyga.ISBN, new { @class = "control-label" })
			@Html.EditorFor(m => m.Knyga.ISBN, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Knyga.ISBN, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Knyga.Pavadinimas, new { @class = "control-label" })
			@Html.EditorFor(m => m.Knyga.Pavadinimas, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Knyga.Pavadinimas, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Knyga.Puslapiu_skaicius, new { @class = "control-label" })
			@Html.EditorFor(m => m.Knyga.Puslapiu_skaicius, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Knyga.Puslapiu_skaicius, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Knyga.LeidimoMetai, new { @class = "control-label" })
			@Html.TextBoxFor(m => m.Knyga.LeidimoMetai, "{0:yyyy-MM-dd}", new { @class = "form-control date-picker"})
			@Html.ValidationMessageFor(m => m.Knyga.LeidimoMetai, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Knyga.Kalba, new { @class = "control-label" })
			@Html.EditorFor(m => m.Knyga.Kalba, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Knyga.Kalba, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Knyga.Kiekis, new { @class = "control-label" })
			@Html.EditorFor(m => m.Knyga.Kiekis, new { htmlAttributes = new { @class = "form-control" }})
			@Html.ValidationMessageFor(m => m.Knyga.Kiekis, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Knyga.Busena, new { @class = "control-label" })
			@Html.DropDownListFor(m => m.Knyga.Busena, Model.Lists.Busenos, "--------------", new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Knyga.Busena, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Knyga.FkZanras, new { @class = "control-label" })
			@Html.DropDownListFor(m => m.Knyga.FkZanras, Model.Lists.Zanrai, "--------------", new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Knyga.FkZanras, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Knyga.FkAutorius, new { @class = "control-label" })
			@Html.DropDownListFor(m => m.Knyga.FkAutorius, Model.Lists.Autoriai, "--------------", new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Knyga.FkAutorius, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Knyga.FkLeidykla, new { @class = "control-label" })
			@Html.DropDownListFor(m => m.Knyga.FkLeidykla, Model.Lists.Leidyklos, "--------------", new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Knyga.FkLeidykla, "", new { @class = "text-danger" })
		</div>
	</fieldset>

	<fieldset class="border rounded shadow p-2">
		<div class="container-fluid d-flex d-row justify-content-between align-items-center">
			<span></span>
			<legend style="width: unset; margin-bottom: 0px;">Papildomos knygos</legend>
			<button
				name="add"
				value="1"
				formnovaliDateTime @*ASP.NET Core magic attribute to prevent client side validation when submit button is clicked*@
				formaction="@Url.Action()#listEnd"
				class="btn btn-info"
				style="white-space: nowrap;"
			><i class="fa-solid fa-plus"></i> Pridėti</button>
		</div>

		<table class="table table-striped table-hover w-100">
			<thead>
			<tr>
				<th>ISBN</th>
				<th>Pavadinimas</th>
				<th>Puslapių skaičius</th>
				<th>Leidimo metai</th>
				<th>Kalba</th>
				<th>Kiekis</th>
				<th>Būsena</th>
				<th>Žanras</th>
				<th>Aktorius</th>
				<th>Leidykla</th>
				<th style="width: 1px;"></th>
			</tr>
			</thead>
			<tbody>
			@for( var i = 0; i < Model.NaujaKnyga.Count; i++ ) {
				<tr>
					<td>
						@Html.EditorFor(m => m.NaujaKnyga[i].ISBN, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(m => m.NaujaKnyga[i].ISBN, "", new { @class = "text-danger" })
					</td>

					<td>
						@Html.EditorFor(m => m.NaujaKnyga[i].Pavadinimas, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(m => m.NaujaKnyga[i].Pavadinimas, "", new { @class = "text-danger" })
					</td>
					
					<td>
						@Html.EditorFor(m => m.NaujaKnyga[i].Puslapiu_skaicius, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(m => m.NaujaKnyga[i].Puslapiu_skaicius, "", new { @class = "text-danger" })
					</td>
					
					<td>
						@Html.EditorFor(m => m.NaujaKnyga[i].LeidimoMetai, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(m => m.NaujaKnyga[i].LeidimoMetai, "", new { @class = "text-danger" })
					</td>

					<td>
						@Html.EditorFor(m => m.NaujaKnyga[i].Kalba, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(m => m.NaujaKnyga[i].Kalba, "", new { @class = "text-danger" })
					</td>

					<td>
						@Html.EditorFor(m => m.NaujaKnyga[i].Kiekis, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(m => m.NaujaKnyga[i].Kiekis, "", new { @class = "text-danger" })
					</td>

					<td>
						@Html.DropDownListFor(m => m.NaujaKnyga[i].Busena, Model.Lists.Busenos, "--------------", new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.NaujaKnyga[i].Busena, "", new { @class = "text-danger" })
					</td>

					<td>
						@Html.DropDownListFor(m => m.NaujaKnyga[i].FkZanras, Model.Lists.Zanrai, "--------------", new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.NaujaKnyga[i].FkZanras, "", new { @class = "text-danger" })
					</td>

					<td>
						@Html.DropDownListFor(m => m.NaujaKnyga[i].FkAutorius, Model.Lists.Autoriai, "--------------", new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.NaujaKnyga[i].FkAutorius, "", new { @class = "text-danger" })
					</td>

					<td>
						@Html.DropDownListFor(m => m.NaujaKnyga[i].FkLeidykla, Model.Lists.Leidyklos, "--------------", new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.NaujaKnyga[i].FkLeidykla, "", new { @class = "text-danger" })
					</td>

					<td>
						<button
							name="remove"
							value="@Model.NaujaKnyga[i].ISBN"
							formnovaliDateTime @*ASP.NET Core magic attribute to prevent client side validation when submit button is clicked*@
							formaction="@Url.Action()#listEnd"
							class="btn btn-danger"
							style="white-space: nowrap;"><i class="fa-solid fa-trash"></i> Ištrinti</button>
					</td>
				</tr>
			}
			</tbody>
		</table>

		@* this is used as a marker to automatically scroll down to the end of items list when returning from button presses *@
		<span id="listEnd"></span>
	</fieldset>

	<div class="container-fluid d-flex d-row justify-content-end">
		<button name="save" value="1" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Išsaugoti</button>
	</div>
}
</div>

<div class="main-content-footer container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title"></span>
	<span class="actions">
		<a href="@Url.Action("Index")" class="link-primary"><i class="fa-solid fa-angles-left"></i> Atgal į sarašą</a>
	</span>
</div>